::ng-deep body {
    background-color: #eee;
}

.page {
	/* Styles for better appearance on screens only -- are reset to defaults in print styles later */

	/* Reflect the paper width in the screen rendering (must match size from @page rule) */
	width: 21cm;
	/* Reflect the paper height in the screen rendering (must match size from @page rule) */
	min-height: 29.7cm;

	/* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
	padding-left: 2cm;
	padding-top: 2cm;
	padding-right: 2cm;
	padding-bottom: 2cm;
}
/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
@page {
	/* You can only change the size, margins, orphans, widows and page breaks here */

	/* Paper size and page orientation */
	size: A4 portrait;

	/* Margin per single side of the page */
	margin-left: 2cm;
	margin-top: 2cm;
	margin-right: 2cm;
	margin-bottom: 2cm;
}

.ck-focused {
	border: none !important;
	box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2) !important;
}

.form-control {
	position: relative;
	top: 35px;
	width: 21cm;	
}

.nav-btn {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    box-shadow: 0px 0px 30px 0px rgba(60, 16, 83, 0.3);
    transition: 1s;
	padding: 4px;
	cursor: pointer;
}

.scroll-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.redirect-button {
	position: absolute;
	top: 4px;
	left: 25px;
	display: flex;
	justify-content: center;
}

.arrow-back-icon {
	margin-top: 5px;
	font-size: 35px;
}

.nav-btn:hover {
    box-shadow: 0px 0px 30px 0px rgba(60, 16, 83, 0.6);
}

.btn-outline {
    background: transparent;
    border: none;
}

.scale-in {
    opacity: 0;
}

.cursor {
	position: absolute;
	width: 2px;
	height: 25px;
	background-color: red;
	margin: 0;
	padding: 0;
	animation: blink 700ms ease-in-out infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}