.navbar-container {
  width: 50vw;
  display: flex;
  
}

.nav-title {
  font-size: 30px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: keep-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.docs-link {
  margin-right: 20px;
  position: relative;
  bottom: 2px;
}

.doc-icon {
  font-size: 22px;
  position: relative;
  top: 4px;
}